parameters:
	tmpDir: build/phpstan
	paths:
		- app
		- tests
	bootstrapFiles:
		- phpstan-bootstrap.php
	excludes_analyse:
		- app/Views/*
		- system/ThirdParty/*
	ignoreErrors:
		- '#Call to an undefined static method Config\\Services::authentication\(\)#'
	scanDirectories:
		- system/Helpers
		- vendor/tatter/alerts/src/Helpers
		- vendor/myth/auth/src/Helpers
	dynamicConstantNames:
		- ENVIRONMENT
		- CI_DEBUG
	checkMissingIterableValueType: false
