parameters:
    bootstrapFiles:
        - qa-bootstrap.php
    excludes_analyse:
        - app/Views/*
        - system/ThirdParty/*
    ignoreErrors:
    scanDirectories:
      - system/Helpers
      - vendor/tatter/alerts/src/Helpers
      - vendor/myth/auth/src/Helpers
    dynamicConstantNames:
        - ENVIRONMENT
        - CI_DEBUG
    checkMissingIterableValueType: false
